# EN: Python virtual environment
venv/

# EN: Environment variables (this holds the secret key, local usage only)
.env

# EN: Python cache from the Django apps
__pycache__
/staticfiles/
media/

# EN: SQLite database --- django migrations handles this without causing conflicts
db.sqlite3

# EN: VSCode / IDE
.vscode/
.idea/

# EN: Mac / Windows noise
.DS_Store
Thumbs.db

# EN: User avatars
src/users/avatars/*