<!DOCTYPE html>
<html lang="en">

<body>
    <h1> Welcome to project {{ project }} </h1>
    <p> {{ project.description }} </p>

    {% if user != project.owner %}
        <form method="post" action="{% url 'projects:leave_project' project.id %}">
        {% csrf_token %}
            <button type="submit">Leave Project</button>
        </form>

    {% else %}
        <form method="post" action="{% url 'projects:delete_project' project.id %}">
        {% csrf_token %}
            <button type="submit">Delete Project</button>
        </form>
    {% endif %}

    <p> Project Task States </p>
    <ul>
    {% for state in states %}
        <li>
            {{ state }}
            <form method="post" action="{% url 'states:delete_state' state.id %}" style="display: inline;">
            {% csrf_token %}
                <button type="submit">Delete State</button>
            </form>
        </li>
    {% endfor %}
    </ul>

    <a href="{% url 'states:create_state' project.id %}">
        <button>Create State</button>
    </a>

    <br>
    <a href="{% url 'projects:index' %}">Go back</a>
</body>

</html>
